/* Обнуление стилей для начала */
.html {
    overflow-x: scroll; /* Добавлено горизонтальное прокручивание */
}

.logo {
    text-align: center;
    padding: 10px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.text {
    padding: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e7ffdc;
    background-image: url("2.jpg");
    background-size: cover; /* Растягивает изображение на всю доступную площадь */
  background-position: center; /* Выравнивание изображения по центру */
  height: 100vh; /* Высота элемента на 100% высоты видимой области */
  padding: 0;
    color: #333;
    margin: 0;
  padding: 60px;

}



.parallax {
  /* The image used */
  background-image: url("3.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0,7;
}


.parallax1 {
  /* The image used */
  background-image: url("1.avif");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0,7;
}


h1 {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:xx-large;
  font-style:normal;
  color:#302e2b;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h2 {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff7e0;
    color:#302e2b;
    margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.centered-text {
    text-align: center;
  }
  
  /* Стилизуем цветной текст */
  .colored-text {
    color: rgb(0, 4, 255);
    font-size: 24px;
  }

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #5e4e3a;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }

  .topnav {
    background-color: #5e4e3a;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #49443d;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #303029;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 94%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

header {
    background-color: #5e4e3a;
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.9;
}

з {
    background-color: #ffffff;
    color: rgb(196, 195, 195);
    text-align: center-left;
}

nav ul {
    list-style:armenian;
    background-color: #ffffff;
    text-align: center;
    padding: 0.5em 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration:dashed;
    font-size:larger;
}

.main {
    background-color: #ffffff;
    padding: 20px;
    opacity: 0.9;
}

footer {
    background-color: #5e4e3a;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Медиа запросы для адаптивного дизайна */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
        padding: 0.5em 0;
    }
    
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

.about {
    background-color: #ffffff;
    padding: 20px;
    opacity: 0.9;
}

.catalog {
    padding: 20px;
    text-align: center;
}

.contacts {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    opacity: 0.9;

}

.card-content {
    color:rgb(0, 255, 255);
    text-align: center;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paint {
    margin-bottom: 30px;
    text-align: left;
    
}
  

.logon{
    margin-bottom: 30px;
    text-align: left;
    
}



.paint img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.4em;
}

.paint h3 {
    margin-top: 10px;
}

.language-switch {
    text-align: right;
    padding: 10px;
}


.custom-button {
    background-color: #eceaea; /* Пастельный цвет фона кнопки */
    color: #333; /* Темный цвет текста */
    border: 1px solid #ddd; /* Тонкая граница */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закругление углов */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Изменение вида курсора при наведении */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Плавные переходы при hover */
  }

  .button {
    background-color: #10abe9; /* Пастельный цвет фона кнопки */
    color: #333; /* Темный цвет текста */
    border: 1px solid #ddd; /* Тонкая граница */
    padding: 10px 10px; /* Внутренние отступы */
    border-radius: 5px; /* Закругление углов */
    font-size: 16px; /* Размер шрифта */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer; /* Изменение вида курсора при наведении */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Плавные переходы при hover */
    margin-left: 1.1pc;
  }
  
  .custom-button:hover {
    background-color: #e0e0e0; /* Изменение цвета фона при наведении */
    color: #555; /* Изменение цвета текста при наведении */
    border-color: #bbb; /* Изменение цвета границы при наведении */
  }
  
  /*.card-container {
    display:flex;
    justify-content:space-between;
    max-width: 1000px;
    margin: 0 auto;
  }*/

  .card-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    color:rgb(54, 54, 54);
    flex-flow: row wrap;
    background-color: #eceaea;
    opacity: 0.9;
    justify-content: center;
  }

  .texts {
    flex: 1;
    padding: 20px;
  }

  .card {
    display:grid;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 0.5em;
    flex: 0 0 calc(33.33% - 20px);
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #f7f4f4;
    margin: 1pc;
  }

  .kartochka {
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 0.5em;
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #f7f4f4;
    margin: 1pc;
  }


  .card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .card-content {
    font-size: 1rem;
    color: #555;
  }
  .card-image {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    
  }

  .card:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.contact {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.karta{
  max-width: 100%; /* Максимальная ширина изображения равна ширине контейнера */
    height: auto; /* Автоматически рассчитывает высоту изображения, чтобы сохранить соотношение сторон */
}



/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}

.custom-slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}

.my-slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}

.your-slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}

.our-slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}


/* Slides */
.custom-slides {
  display: none;
  padding: 35px;
  text-align: left;
}

.my-slides {
  display: none;
  padding: 35px;
  text-align: left;
}

.your-slides {
  display: none;
  padding: 35px;
  text-align: left;
}

.our-slides {
  display: none;
  padding: 35px;
  text-align: left;
}

.Slides {
  display: none;
  padding: 35px;
  text-align:left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 10px;
  color: #535353;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #d3d3d3;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.my-dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.your-dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.our-dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.custom-dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.custom-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.my-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.your-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.our-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.section0{
  text-align: center;
  color: red;
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.section1{
  text-align: center;
  color: blue;
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.section4{
  text-align: center;
  color: rgb(255, 127, 8);
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.section5{
  text-align: center;
  color: rgb(16, 160, 2);
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.section6{
  text-align: center;
  color: rgb(167, 1, 209);
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.glava {
  text-align: center;
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip4 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 500px;
  overflow-y: auto;
  z-index: 2;
  font-size: smaller;
  text-align: left;
  pointer-events: none;
  position:absolute;
  left: -70%;
  top: -250px;
  border-radius: 2%;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip1:hover .tooltip-text {
  display: block;
}

.tooltip2:hover .tooltip-text {
  display: block;
}
.tooltip3:hover .tooltip-text {
  display: block;
}
.tooltip4:hover .tooltip-text {
  display: block;
}

.tool {
  background-color: #ffb3b3; /* Светлый цвет фона */
  color: #333; /* Цвет текста */
  padding: 10px 20px; /* Отступы вокруг текста */
  border: none; /* Убрать границу */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Изменение курсора при наведении */
  transition: background-color 0.3s, color 0.3s; /* Плавные анимации для цветов при наведении */
}

.tool1 {
  background-color: #b3beff; /* Светлый цвет фона */
  color: #333; /* Цвет текста */
  padding: 10px 20px; /* Отступы вокруг текста */
  border: none; /* Убрать границу */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Изменение курсора при наведении */
  transition: background-color 0.3s, color 0.3s; /* Плавные анимации для цветов при наведении */
}

.tool2 {
  background-color: #ffd8b3; /* Светлый цвет фона */
  color: #333; /* Цвет текста */
  padding: 10px 20px; /* Отступы вокруг текста */
  border: none; /* Убрать границу */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Изменение курсора при наведении */
  transition: background-color 0.3s, color 0.3s; /* Плавные анимации для цветов при наведении */
  z-index: 1;
}

.tool3 {
  background-color: #b4ffad; /* Светлый цвет фона */
  color: #333; /* Цвет текста */
  padding: 10px 20px; /* Отступы вокруг текста */
  border: none; /* Убрать границу */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Изменение курсора при наведении */
  transition: background-color 0.3s, color 0.3s; /* Плавные анимации для цветов при наведении */
  z-index: 1;
}

.tool4 {
  background-color: #e1b3ff; /* Светлый цвет фона */
  color: #333; /* Цвет текста */
  padding: 10px 20px; /* Отступы вокруг текста */
  border: none; /* Убрать границу */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Изменение курсора при наведении */
  transition: background-color 0.3s, color 0.3s; /* Плавные анимации для цветов при наведении */
  z-index: 1;
}

.tool:hover {
  background-color: #ddd; /* Цвет фона при наведении */
  color: #555; /* Цвет текста при наведении */
}

#tool:hover + #tooltip3,
#tool4:hover + #tooltip1 {
    display: block; /* Отображаем окно при наведении на соответствующую кнопку */
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}


@media (max-width: 768px) {
  .logo {
    text-align: center;
    padding: 25px;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.text {
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f7fff3;
  background-image: url("2.avif");
  background-size: cover; /* Растягивает изображение на всю доступную площадь */
background-position: center; /* Выравнивание изображения по центру */
height: 100vh; /* Высота элемента на 100% высоты видимой области */
padding: 0;
  color: #333;
  margin: 0;
  font-size: small; /* Уменьшаем размер шрифта */
    padding: 5px; /* Уменьшаем отступы */

}

  h1 {
    font-size: large; /* Уменьшаем размер заголовков */
  }

  h2 {
    font-size: medium; /* Уменьшаем размер заголовков */
  }


.parallax {
  /* The image used */
  background-image: url("3.jpg");

  /* Full height */
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0,7;
}


.parallax1 {
  /* The image used */
  background-image: url("1.avif");

  /* Full height */
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0,7;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}

.custom-slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}

.my-slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}

.your-slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}

.our-slideshow-container {
  position: relative;
  background: #f8f8f8f1;
  opacity: 0.9;
}


/* Slides */
.custom-slides {
  display: none;
  padding: 35px;
  text-align: left;
}

.my-slides {
  display: none;
  padding: 35px;
  text-align: left;
}

.your-slides {
  display: none;
  padding: 35px;
  text-align: left;
}

.our-slides {
  display: none;
  padding: 35px;
  text-align: left;
}

.Slides {
  display: none;
  padding: 35px;
  text-align:left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 10px;
  color: #535353;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #d3d3d3;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 10px;
  background: #ddd;
}

.my-dot-container {
  text-align: center;
  padding: 10px;
  background: #ddd;
}

.your-dot-container {
  text-align: center;
  padding: 10px;
  background: #ddd;
}

.our-dot-container {
  text-align: center;
  padding: 10px;
  background: #ddd;
}

.custom-dot-container {
  text-align: center;
  padding: 10px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.custom-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.my-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.your-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.our-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.section0{
  text-align: center;
  color: red;
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.section1{
  text-align: center;
  color: blue;
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.section4{
  text-align: center;
  color: rgb(255, 127, 8);
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.section5{
  text-align: center;
  color: rgb(16, 160, 2);
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.section6{
  text-align: center;
  color: rgb(167, 1, 209);
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

.glava {
  text-align: center;
}

.tooltip-text {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  overflow-y: auto;
  z-index: 2;
  font-size: smaller;
  text-align: left;
  pointer-events: none;
  position:absolute;
  left: -80%;
  top: -200px;
  border-radius: 2%;
}
  
.parallax {
  /* The image used */
  background-image: url("3.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0,7;
}


.parallax1 {
  /* The image used */
  background-image: url("1.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0,7;
}

}